/* body {
  font-family: "Noto Sans JP"; 
}*/
/* body {
  font-family: Palatino, "Noto Serif JP"; 
}*/
body{
  font-family: 'Noto Serif JP"', sans-serif;
}

.md-tabs__link
{
   font-weight: bold;
}
.md-header
{
   font-weight: bold;
}

span.award {
  background: peachpuff;    
  border-radius: 10px;
  font-family: sans-serif;
  color: black;
  padding: 4px 10px 4px 10px;
  font-size: 80%; 
  font-weight: bold;
}

span.highlight {
  background: paleturquoise;    
  border-radius: 10px;
  font-family: sans-serif;
  color: black;
  padding: 4px 10px 4px 10px;
  font-size: 80%; 
  font-weight: bold;
}

span.invited {
  background: paleturquoise;    
  border-radius: 10px;
  font-family: sans-serif;
  color: black;
  padding: 4px 10px 4px 10px;
  font-size: 80%; 
  font-weight: bold;
}

span.pub_seminar {
  background: peachpuff;    
  border-radius: 10px;
  font-family: sans-serif;
  color: black;
  padding: 4px 10px 4px 10px;
  font-size: 80%; 
  font-weight: bold;
}

span.pub_lecture {
  background: rgb(232, 220, 242);    
  border-radius: 10px;
  font-family: sans-serif;
  color: black;
  padding: 4px 10px 4px 10px;
  font-size: 80%; 
  font-weight: bold;
}

span.pub_panel {
  background: paleturquoise;    
  border-radius: 10px;
  font-family: sans-serif;
  color: black;
  padding: 4px 10px 4px 10px;
  font-size: 80%; 
  font-weight: bold;
}